{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 11"
          ]
        }
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    "styled-jsx/babel",
    "@kiwicom/babel-plugin-orbit-components",
    "transform-runtime",
    "transform-flow-comments",
    "relay",
    [
      "transform-assets-import-to-string",
      {
        "baseDir": "/",
        "baseUri": "https://images.kiwi.com/smart-faq"
      }
    ]
  ]
}
