{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins":[
    "styled-jsx/babel",
    "transform-runtime",
    "relay",
    ["transform-assets-import-to-string", {
      "baseDir": "/",
      "baseUri": "https://images.kiwi.com/smart-faq"
    }]
  ]
}
